@import url("/css/style.css");

/* =======Country Details=========== */

.btn_back {
  box-shadow: 0 0 5px rgb(179, 179, 179);
  width: 75px;
  margin-bottom: 45px;
  padding: 5px 10px;
  border: none;
  background: var(--dLElements);
  border-radius: 2px;
  color: var(--lightModeInput);
  text-align: center;
}

.btn_back:hover {
  color: var(--lightModeText);
  cursor: pointer;
}

.btn_back:active {
  color: var(--lightModeHover);
}

.country_details {
  max-width: 1440px;
  width: 90%;
  margin: 50px auto;
}

.details {
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 500px;
}

.details img {
  width: 500px;
  margin-right: 50px;
  object-fit: cover;
}

.details__card {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
  margin: 50px;
}

.country_name_title {
  font-weight: 800;
  font-size: 25px;
}

.country_features {
  display: flex;
  flex-direction: row;
}

.features_1 {
  margin-right: 100px;
}

.country_features ul li {
  list-style: none;
  margin-bottom: 15px;
}
.country_features span {
  font-weight: 600;
}

.border_countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.border_countries .feature_title {
  font-weight: 600;
}

.border_countries span {
  display: inline-block;
  width: auto;
  background-color: var(--dLElements);
  box-shadow: 0 0 5px rgb(175, 175, 175);
  padding: 2px 15px;
  border-radius: 2px;
  margin: 5px;
}
.border_countries span:hover {
  cursor: pointer;
  background-color: var(--lightModeBG);
}

@media only screen and (max-width: 375px) {
  .country_details {
    width: 90%;
    height: auto;
  }
  .details {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .details img {
    width: 100%;
    height: 175px;
  }
  .country_features {
    flex-direction: column;
  }
  .features_1 {
    margin-bottom: 15px;
  }
  .border_countries {
    display: inline-block;
    margin-top: 25px;
  }
  .border_countries span {
    float: left;
    margin: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .country_details {
    width: 90%;
    height: auto;
  }
  .details {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .details img {
    width: 375px;
    height: 200px;
  }
  .country_features {
    flex-direction: column;
  }
  .features_1 {
    margin-bottom: 15px;
  }
  .border_countries {
    display: inline-block;
    margin-top: 25px;
  }
  .border_countries span {
    float: left;
    margin: 10px;
  }
}
